<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Погода</title>
  <link rel="icon" type="image/x-icon" href="../static/src/img/">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
  <h1>Погода</h1>
  <button onclick="getWeather()">Узнать погоду</button>
  <div id="weather"></div>
  <script src="../static/js/script.js"></script>
</body>
</html>
